<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-footer-logo">
          <a href="https://www.ocf.berkeley.edu">
            <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin.svg" alt="Hosted by the OCF" style="border: 0; width: 125px">
          </a>
          <a href="https://www.princetonreview.com/">
            <img src="/images/tprlogo.jpg" alt="The Princeton Review" style="border: 0; width: 100px; margin-left: 20px; ">
          </a>
          <a href="https://rejuvenationtech.com/">
            <img src="/images/rejuvenation.png" alt="Rejuvenation Technologies" style="border: 0; width: 200px; margin-left: 19px;">
          </a>
          <a href="https://revelpharmaceuticals.com/">
            <img src="/images/revel.png" alt="Revel Pharmaceuticals" style="border: 0; width: 120px; margin-left: 15px;">
          </a>
          <a href="https://tetsuwan.com/">
            <img src="/images/tetsuwan.png" alt="Tetsuwan Scientific" style="border: 0; width: 200px; margin-left: 15px;">
          </a>
          <a href="https://formurex.net/">
            <img src="/images/formurex.png" alt="Formurex" style="border: 0; width: 230px; margin-left: 4px;">
          </a>
          <a href="https://www.solarisbiotech.com/en/bioreactors-fermentors/">
            <img src="/images/solaris.png" alt="Solaris" style="border: 0; width: 160px; margin-top: 20px; margin-left: 20px;">
          </a>
        </div>
      </div>
      {{ with .Site.Params.footer.contactInfo }}
      <div class="col-lg-3 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <p class="site-footer-widget-description">
            {{ .address | safeHTML }}
            <br>
            <a href="tel:{{ .phone }}">{{ .phone }}</a>
            <br>
            <a href="mailto:{{ .email }}">{{ .email }}</a>
          </p>
        </div>
      </div>
      {{ end }}
      {{ with .Site.Params.footer.sitemap }}
      <div class="col-lg-2 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <ul class="site-footer-widget-links">
            {{ range .link }}
            <li><a href="{{ .url | absURL }}">{{ .name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      {{ with .Site.Params.footer.social }}
      <div class="col-lg-2 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <ul class="site-footer-widget-links">
            {{ range .link }}
              <li><a href="{{ .url }}">{{ .name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      {{ with .Site.Params.footer.service }}
      <div class="col-lg-3 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <p class="site-footer-widget-description">
            {{ .description | safeHTML }}
          </p>
        </div>
      </div>
      {{ end }}
      {{ with .Site.Params.footer.sponsor }}
    <div class="row mt-5">
      <div class="col-lg col-md">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <p class="site-footer-widget-description">
            {{ .description | safeHTML }}
          </p>
        </div>
      </div>
    </div>
      
      {{ end }}
    </div>
  </div>
</footer>

{{ $formhandler := resources.Get "js/formhandler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script>
{{ $vendor := resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>