{{ define "main" }}

<style>
  .centered-text {
    text-align: center;
    color: #00113E; /* Color changed for 'Spring 2024 Recruitment' text */
  }
  .rounded-divider {
    height: 5px;
    background-color: #00113E; /* Color changed for rounded divider */
    border-radius: 2.5px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .blog-title {
    color: #1c4b4c; /* Title color changed to #1c4b4c */
  }
  .rounded-image {
    border-radius: 10px; /* Rounded corners */
    margin-right: 20px; /* Space between image and text */
    float: left; /* Align image to the left of the text */
    width: 275px; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
  }
  .section {
    clear: both; /* Clear float for subsequent sections */
    margin-top: 20px; /* Spacing between sections */
    margin-bottom: 60px;
    overflow: hidden;
  }
  .section-title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  /* .section-content {
    /* Styles for section content 
    */

  .small-rounded-button {
    padding: 11px 16px; /* Smaller padding for a smaller button */
    border-radius: 15px; /* Rounded corners */
    font-size: 18px; /* Smaller font size */
    line-height: 1; /* Adjust line height for smaller button */
    text-decoration: none; /* Optional: Removes underline from links */
    display: inline-block; /* Aligns the button properly */
  }
  .content-container {
    float: left; /* Align container to the left */
    width: calc(100% - 295px); /* Adjust width based on image width and margin */
  }
  .intro-text {
    margin-bottom: 50px; /* Adjust the bottom margin as needed */
  }
  p .line-break {
    margin-bottom: 10px; /* Adjust this value as needed */
    display: block;
  }
  /* Media Query for Mobile Devices */
  @media screen and (max-width: 768px) {
    .rounded-image {
      width: 100%; /* Make images full width */
      margin-right: 0; /* Remove right margin */
      float: none; /* Disable floating */
    }
    .content-container {
      width: 100%; /* Full width for content */
      float: none; /* Disable floating */
    }
    .section-title {
      font-size: 20px; /* Smaller font size for titles */
    }
    .small-rounded-button {
      padding: 8px 12px; /* Smaller padding for buttons */
      font-size: 16px; /* Smaller font size for buttons */
    }
    .intro-text, .section-content {
      font-size: 16px; /* Increase font size for readability */
    }
    .blog-title, h5 {
      font-size: 22px; /* Adjust heading sizes */
    }
    /* Additional mobile-specific adjustments as needed */
  }
</style>

<body style="background-color:#fcfbf7;">
  <section class="site-blog details">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <article class="site-blog-details">
            <h5 class="centered-text">Spring 2026 Recruitment</h5>
            <h2 class="blog-title centered-text">{{ .Title }}</h2>
            <div class="rounded-divider"></div>
            <!-- <p class="intro-text">Thank you for your interest in iGEM! Applications for the fall are now closed. Please consider applying in the spring or joining iGEM at Berkeley as a <a href="https://forms.gle/nwqzPxeKL6GHSmDk9">general member</a>. -->
              
              <br><br>To learn more about the club, come to one of our infosessions on <b>January 26</b> at <b>Dwinelle 223</b> or <b>January 29</b> at <b>Evans 3</b> (in-person and <a href="https://berkeley.zoom.us/j/8088255858"><b>Zoom</b></a>) from 8-9 PM. For our full recruitment timeline and more, <a href="https://www.instagram.com/igematberkeley/"><b>follow us on Instagram</b></a>. If you have any questions, <a href="https://docs.google.com/forms/u/4/d/e/1FAIpQLSciPYdSDdNb4FvcPPpFazVGbXGj0E5AF2ZrsiZi8MT6jDlGfQ/viewform?usp=send_form"><b>register for our Slack</b></a> and drop it in the <b>#ask-pls-anything</b> channel. We look forward to meeting you!
            <br><br><b>**</b>Please note that our earliest application deadline this semester is <b>January 30</b> to join an Experimental Team!
            </p>

            <!-- Exp/Ideation -->
            <div class="section">
              <img class="rounded-image" src="/images/exp_apply.png" alt="Experimental team member pipetting.">
              <div class="content-container">
                <h3 class="section-title">Experimental Teams</h3>
                <p class="section-content">We have several wetlab engineering and computational biology teams, each dedicated to addressing a distinct biological research question. 
                  Our experimental teams continue work on well-defined projects, while our ideation teams focus on exploring novel research areas. 
                  Joining one of our project teams helps build your technical skillset, ability to work as a team, and passion in bioengineering research. <br><br>
                  Regardless of your experience level, <a href="https://docs.google.com/document/d/10ke_iA--oGMEhOsAqthPgev2vYlGeFHJOJcghp6xgAA/edit?tab=t.0"><b>check out our teams</b></a> and consider applying to an Experimental Team today before applications close on <b>January 30 at 11:59 p.m.</b> Our project leads 
                  will be holding drop-in <b><a href="https://docs.google.com/document/d/1J-MlFYfDcdWEXIsN5UuQxci0evHkoGvzxNfQwFZQljA/edit?usp=sharing">office hours</a></b> throughout recruitment week to answer any questions, chat about science, and help you figure out if the team is the perfect fit for you!</p>
                <!-- Button for Section 1 -->
                <a href="https://forms.gle/L1298hnMzFakXxKA8" class="btn btn-primary small-rounded-button">Apply to Project Teams</a>
              </div>
            </div>

            <!-- FERB -->
            <div class="section">
              <img class="rounded-image" src="/images/ferb_apply.jpg" alt="Student presenting their work from the Design Challenge.">
              <div class="content-container">
                <h3 class="section-title">Foundations of Engineering Biology (DeCals)</h3>
                <p class="section-content">This fall, we’re offering Foundations of Engineering Biology (FERB) I, 
                  a lab-based introduction to synthetic biology that guides you through the experimental techniques of the 
                  cloning workflow and synthetic biology. <br>

                  The prerequisites for FERB I are any of the following: AP Biology, BIOENG 10/11, BIOLOGY 1A/1AL, or a general knowledge of biology.<br><br>
                  
                  The final application deadline is <b>January 30 at 11:59 p.m.</b> <a href="/ferb"><b>Learn more about our DeCals and read their full syllabi</b></a>. <br><br>
                
                  If you have wetlab experience, consider applying to be a FERB teaching assistant! Applications to help lead FERB are also due on <b>January 30 at 11:59 p.m.</b>
                </p>
                <a href="https://forms.gle/JavYVXgB7xX7LUQr5" class="btn btn-primary small-rounded-button">Apply to FERB</a>
                <a href="https://forms.gle/ajHVLqj6RYPi2fDU7" class="btn btn-primary small-rounded-button">Apply to TA FERB</a>
              </div>
            </div>

            <!-- Eternals -->
            <div class="section">
              <img class="rounded-image" src="/images/eternal_apply.jpeg" alt="Student presenting their work from the Design Challenge.">
              <div class="content-container">
                <h3 class="section-title">External & Internal Relations Teams</h3>
                <p class="section-content"> Our External & Internal Relations teams help foster the community within iGEM at Berkeley. If you are a driven student with an affinity for both research science and the humanities, you're a great fit for either team.<br>
                  We hope you'll join our team if you're interested in:
                  <b>hosting</b> research events like the <a href="/cubs"><b>Cal Undergraduate Bioengineering Symposium (CUBS)</b></a>;
                  <a href="https://www.instagram.com/igematberkeley/"><b>graphic design</b></a> and web development;
                  forming <b>partnerships</b> with the biotech industry and academia;
                  <b>empowering</b> underrepresented students with their first research opportunity;
                  enhancing our growing <b>community</b> by organizing your own social events.<br><br>
                  Learn more and fill out an application for either teams by <b>February 2 at 11:59 p.m.</b>
                </p>
                <a href="https://forms.gle/auJRKkasajtRDCA59" class="btn btn-primary small-rounded-button">Join External</a>
                <a href="https://forms.gle/eQExqGfKvxpqFedR6" class="btn btn-primary small-rounded-button">Join Internal</a>
              </div>
            </div>

            <!-- Finance -->
            <div class="section">
              <img class="rounded-image" src="/images/finance_apply.png" alt="Student presenting their work from the Design Challenge.">
              <div class="content-container">
                <h3 class="section-title">Finance Team</h3>
                <p class="section-content">Finance wants you! Do you love to spend money? You need to make the money first 😉 We are recruiting this semester and would love to take anyone. 
                  We will teach you how to network with business executives, write a research grant application, run funding initiatives, and manage a LOT of money (<a href="/finance-join-our-team/"><b>learn more about our finance team here</b></a>).
                  We require no applications, just a fun chat with us to get to know you. We hope you join us this semester! <br><br>
                  Please fill out your information and sign up for an interview before <b>February 2 at 11:59 p.m.</b>.
                </p>
                <a href="https://forms.gle/E4cXUmuoan9222Gf7" class="btn btn-primary small-rounded-button">Schedule Interview</a>
              </div>
            </div>
            
            <h3>Don't see the right role?</h3>
            <p class="intro-text">If you'd prefer a more relaxed commitment but would still like to be involved with our research community, we highly recommend that you <a href="https://docs.google.com/forms/d/e/1FAIpQLSdf3GZ4lHacONnspn08-ca_0arWuRrSkgVZHPoelU54fwIz5A/viewform"><b>fill out our General Membership form</b></a>—it only takes 5 minutes (and we promise not to spam you)!
              Also, you can always email us at <a href="mailto:directors@igem.berkeley.edu"><b>directors@igem.berkeley.edu</b></a> if there's anything we can do to better support you.
            </p>

            
          </article>
        </div>
      </div>
    </div>
  </section>
</body>

{{ end }}