{% extends "layout.html" %}
  
{% block title %}Contribution{% endblock %}

{% block page_content %}

<div class="col">
  <h2>Scientific Contributions</h2>
  <hr>
  <p>Adding a piece to the J23119 family promoters, we provide a proof of concept for how promoters that are stronger than some of the currently established powerful constitutive ones can be potentially found altering the sequential context. Our project shed light on how future researchers can build upon the expanding of strong promoter libraries using our screening workflow. For the iGEM community, we contribute more than 20 distinct promoter sequences for our newly defined pP6 promoter family (see <a href="{{ url_for('pages', page='engineering') }}">Engineering</a>). The varied sequences of these robust promoters would greatly reduce the resource expenditure associated with development of novel, complicated multi-cassette genetic constructs.</p>
</div>

<div class="loader-wrapper">
  <div class="loader"> 
    <img src="https://static.igem.wiki/teams/4394/wiki/test/loading.gif"
      width = "300"
      height = "300">
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
<script>
  $(window).on('load', function(){
    setTimeout(removeLoader, 0); //wait for page load PLUS two seconds.
  });
  function removeLoader(){
    $( ".loader-wrapper" ).fadeOut(500, function() {
      // fadeOut complete. Remove the loading div
      $( ".loader-wrapper" ).remove(); //makes page more lightweight 
  });   
}
</script>

{% endblock %}
