{% extends "layout.html" %}

{% block title %}Our Team{% endblock %}

{% block page_content %}

<div class="col">
  <h2>About Us</h2>
  <hr>
  <p>iGEM at Berkeley is an undergraduate-led synthetic biology makerspace at the University of California, Berkeley. 
    Our student organization was founded just 2 years ago but has grown to support and train <b>over 400 members</b>. 
    Our mission is to increase accessibility of the synthetic biology and bioengineering community to students of all
     backgrounds and research experience levels at Cal—that's why our Foundations in Engineering Biology course, educational
      and professional development resources, and events are open to all general members without any selection process.
  </p>
</div>

<div class="row mt-4">
  <img class="image rounded-corners" src="https://static.igem.wiki/teams/4394/wiki/allhands.png" alt="A photo from one of our monthly all-hands meetings." style="display: block;  margin-left: auto;  margin-right: auto;">
</div>

<div class="col" style="margin-top: 50px;">
  <h2>Leadership</h2>
  <hr>
  <p>Every aspect of running iGEM at Berkeley, from writing grants to teaching courses to conducting experiments, is coordinated
     by our Board of Directors. As a club, we are supported and advised by Professor John Christopher Anderson, and our 
     individual project teams are led by our undergraduate Project Leads and further advised by their Graduate Student Mentors. </p>
</div>

<div class="row mt-4">
  <!-- Team item-->
  <div class="col-md">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://static.igem.wiki/teams/4394/wiki/elena.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Elena Mujica</h5><span class="small text-uppercase text-muted">Experimental: Wetlab</span>
      <p>Elena is a third-year studying Bioengineering.
      </p>
    </div>
  </div>
  <!-- End-->

  <!-- Team item-->
  <div class="col-md">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://static.igem.wiki/teams/4394/wiki/michael.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Michael Ni</h5><span class="small text-uppercase text-muted">Experimental: Wetlab</span>
      <p>Michael is a third-year studying Business and Molecular and Cell Biology.</p>
    </div>
  </div>
  <!-- End-->

  <!-- Team item-->
  <div class="col-md">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://static.igem.wiki/teams/4394/wiki/mrunali.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Mrunali Manjrekar</h5><span class="small text-uppercase text-muted">Experimental: CompBio</span>
      <p>Mrunali is a fourth-year studying Bioengineering and Electrical Engineering and Computer Science (EECS).</p>
    </div>
  </div>
  <!-- End-->

  <!-- Team item-->
  <div class="col-md">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://static.igem.wiki/teams/4394/wiki/cassie.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Cassie Areff</h5><span class="small text-uppercase text-muted">Experimental: CompBio</span>
      <p>Cassie is a second-year studying Electrical Engineering and Computer Science (EECS).</p>
    </div>
  </div>
  <!-- End-->

  <!-- Team item-->
  <div class="col-md">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://static.igem.wiki/teams/4394/wiki/guru.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Guru Rajesh</h5><span class="small text-uppercase text-muted">External Relations</span>
      <p>Guru is a second-year studying Bioengineering.</p>
    </div>
  </div>
  <!-- End-->
</div>

<div class="row mt-4">
    <!-- Team item-->
    <div class="col-md">
      <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://static.igem.wiki/teams/4394/wiki/arshia.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">Arshia Deep</h5><span class="small text-uppercase text-muted">Foundations of Engineering Biology</span>
        <p>Arshia is a fourth-year studying Bioengineering.</p>
      </div>
    </div>
    <!-- End-->
  
    <!-- Team item-->
    <div class="col-md">
      <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://static.igem.wiki/teams/4394/wiki/kylie.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">Kylie Akiyama</h5><span class="small text-uppercase text-muted">Foundations of Engineering Biology</span>
        <p>Kylie is a third-year studying Bioengineering.</p>
      </div>
    </div>
    <!-- End-->
  
    <!-- Team item-->
    <div class="col-md">
      <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://static.igem.wiki/teams/4394/wiki/christina.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">Christina Lee</h5><span class="small text-uppercase text-muted">Finance</span>
        <p>Christina is a fourth-year studying Molecular and Cell Biology.</p>
      </div>
    </div>
    <!-- End-->
  
    <!-- Team item-->
    <div class="col-md">
      <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://static.igem.wiki/teams/4394/wiki/samhita.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">Samhita Nittala</h5><span class="small text-uppercase text-muted">Finance</span>
        <p>Samhita is a third-year studying Molecular and Cell Biology.</p>
      </div>
    </div>
    <!-- End-->
  
    <!-- Team item-->
    <div class="col-md">
      <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://static.igem.wiki/teams/4394/wiki/kelly.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">Kelly Tan</h5><span class="small text-uppercase text-muted">Internal Relations</span>
        <p>Kelly is a fourth-year studying Molecular and Cell Biology.</p>
      </div>
    </div>
    <!-- End-->
</div>

<div class="row mt-4">
  <!-- Team item-->
  <div class="col-md-5" style="margin: auto;">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://static.igem.wiki/teams/4394/wiki/jca.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Chris Anderson</h5><span class="small text-uppercase text-muted">Faculty Advisor</span>
      <p>Chris Anderson is an Associate Professor of Bioengineering at the University of California, Berkeley.</p>
    </div>
  </div>
  <!-- End-->
</div>

<div class="col" style="margin-top: 50px;">
  <h2>Club Structure</h2>
  <hr>
  <p>With over 400 general members, iGEM at Berkeley is the largest student-run research organization on campus. 
    Our club decisions are made jointly 
    by our Board of Directors, 
    which each also oversee a certain XX of the club.</p>
</div>

<div class="row mt-4">
  <img class="image rounded-corners" src="https://static.igem.wiki/teams/4394/wiki/clubstructure.png" alt="Club Structure" style="display: block;  margin-left: auto;  margin-right: auto;">
</div>

<div class="col" style="margin-top: 50px;">
  <h2>Outside Research</h2>
  <hr>
  <p>When we're not in the lab, iGEM at Berkeley members can be seen at our socials around Berkeley or on our semesterly retreats to beautiful places in Northern California.</p>
</div>

<div class="row mt-4">
  <img class="image rounded-corners" src="https://static.igem.wiki/teams/4394/wiki/yosemite.jpg" alt="Our Yosemite Retreat" style="display: block;  margin-left: auto;  margin-right: auto; width: 50%; height: 50%;">
  <img class="image rounded-corners" src="https://static.igem.wiki/teams/4394/wiki/mariposa.jpg" alt="Our Retreat to the Mariposa Grove of Giant Sequoias" style="display: block;  margin-left: auto;  margin-right: auto; width: 50%; height: 50%;">
</div>
<p style="margin-top: 20px;">To get a sense for the large scale of our club, the pictures above depict just about 10% of our experimental members, and only 1% of our general members!</p>


<div class="loader-wrapper">
  <div class="loader"> 
    <img src="https://static.igem.wiki/teams/4394/wiki/test/loading.gif"
      width = "300"
      height = "300">
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
<script>
  $(window).on('load', function(){
    setTimeout(removeLoader, 0); //wait for page load PLUS two seconds.
  });
  function removeLoader(){
    $( ".loader-wrapper" ).fadeOut(500, function() {
      // fadeOut complete. Remove the loading div
      $( ".loader-wrapper" ).remove(); //makes page more lightweight 
  });   
}
</script>

{% endblock %}
