{{ define "main" }}

<style>
  .banner {
    background-color: #1c4b4c; /* Light grey background */
    color: #fff; /* Dark text color */
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .banner a {
    color: inherit; /* Inherit the color from the parent element */
  }
</style>

<body style="background-color:#fcfbf7;">
  <section class="site-blog details">
    <div class="banner">
      <a href="/apply">Fall 2024 Applications Closed</a>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <article class="site-blog-details">
            <p>iGEM at Berkeley's</p>
            <h2 class="blog-title">{{ .Title }}</h2>
            <img class="feature-image" src="{{ .Params.feature_image | absURL }}" alt="blog-feature-image">
            {{ .Content }}
          </article>
        </div>
      </div>
    </div>
  </section>
</body>

<!-- {{ partial "call-to-action.html" . }} -->

{{ end }}