<!--Creates a row of four images-->
<link rel="stylesheet" href="/images/css/styles.css">

{{ $image1 := .Get "image1" }}
{{ $caption1 := .Get "caption1" }}
{{ $bio1 := .Get "bio1" }}
{{ $image2 := .Get "image2" }}
{{ $caption2 := .Get "caption2" }}
{{ $bio2 := .Get "bio2" }}
{{ $image3 := .Get "image3" }}
{{ $caption3 := .Get "caption3" }}
{{ $bio3 := .Get "bio3" }}
{{ $image4 := .Get "image4" }}
{{ $caption4 := .Get "caption4" }}
{{ $bio4 := .Get "bio4" }}
{{ $image5 := .Get "image5" }}
{{ $caption5 := .Get "caption5" }}
{{ $bio5 := .Get "bio5" }}
{{ $image6 := .Get "image6" }}
{{ $caption6 := .Get "caption6" }}
{{ $bio6 := .Get "bio6" }}



<div class="image-group6">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <div style="display: flex; justify-content: space-between;">
      <div style="text-align: center; margin-left: 10px; margin-right: 10px;">
        <div class="circle-image">
            <img src="{{ $image1 }}" alt="{{ $caption1 }}">
        </div>
        <p style="margin-top: 16px; font-weight: bold;">{{ $caption1 }}</p>
        <p>{{ $bio1 }}</p>
      </div>
      <div style="text-align: center; margin-left: 10px; margin-right: 10px;">
        <div class="circle-image">
          <img src="{{ $image2 }}" alt="{{ $caption2 }}">
        </div>
        <p style="margin-top: 16px; font-weight: bold;">{{ $caption2 }}</p>
        <p>{{ $bio2 }}</p>
      </div>
      <div style="text-align: center; margin-left: 10px; margin-right: 10px;">
        <div class="circle-image">
          <img src="{{ $image3 }}" alt="{{ $caption3 }}">
        </div>
        <p style="margin-top: 16px; font-weight: bold;">{{ $caption3 }}</p>
        <p>{{ $bio3 }}</p>
      </div>
      <div style="text-align: center; margin-left: 10px; margin-right: 10px;">
        <div class="circle-image">
          <img src="{{ $image4 }}" alt="{{ $caption4 }}">
        </div>
        <p style="margin-top: 16px; font-weight: bold;">{{ $caption4 }}</p>
        <p>{{ $bio4 }}</p>
      </div> 
      <div style="text-align: center; margin-left: 10px; margin-right: 10px;">
        <div class="circle-image">
          <img src="{{ $image5 }}" alt="{{ $caption5 }}">
        </div>
        <p style="margin-top: 16px; font-weight: bold;">{{ $caption5 }}</p>
        <p>{{ $bio5 }}</p>
      </div> 
      <div style="text-align: center; margin-left: 10px; margin-right: 10px;">
        <div class="circle-image">
          <img src="{{ $image6 }}" alt="{{ $caption6 }}">
        </div>
        <p style="margin-top: 16px; font-weight: bold;">{{ $caption6 }}</p>
        <p>{{ $bio6 }}</p>
      </div> 
    </div>
  </div>
</div>

